body {
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 0 0 7px #000;
  background: #000 url('../img/lifestream-blurred.jpg') no-repeat top/cover;
}

#main {
  line-height: 0.75 !important;
}

#ff7r-title {
  font-size: 8vw;
}

#countdown-title {
  font-size: 7vw;
}

#release-date {
  font-size: 4vw;
}

#disc-units {
  font-size: 28vw;
}

#disc-decimals {
  font-size: 7vw;
}

#discs {
  font-size: 5vw;
}

#discs>button {
  line-height: inherit;
  font-size: inherit;
  vertical-align: inherit;
  text-transform: inherit;
  text-shadow: inherit;
}

#copyright-code {
  cursor: pointer;
}

#credits-modal {
  text-shadow: none;
  backdrop-filter: blur(4px);
}

.link-underline-opacity-75-hover {
  transition: text-decoration .25s;
}

.opacity-hover-100:hover {
  opacity: .9 !important;
}

/* @media (min-width: 576px) {
  #ff7r-title {
    font-size: 2.95rem;
  }

  #countdown-title {
    font-size: 2.5rem;
  }

  #disc-units {
    font-size: 15rem;
  }

  #disc-decimals {
    font-size: 4rem;
  }

  #discs {}

  #release-date {}
}*/

@media (min-width: 768px) {
  #ff7r-title {
    line-height: 6vw !important;
    font-size: 7vw;
  }

  #countdown-title {
    line-height: 6vw !important;
    font-size: 6vw;
  }

  #release-date {
    font-size: 3vw;
  }

  #disc-units {
    font-size: 22vw;
  }

  #disc-decimals {
    font-size: 6vw;
  }

  #discs {
    font-size: 4vw;
  }
}

/*@media (min-width: 992px) {
  #ff7r-title {
    font-size: 6vw;
  }

  #countdown-title {
    font-size: 5vw;
  }
  
    #release-date {
      font-size: 1vw;
    }

  #disc-units {
    font-size: 18vw;
  }

  #disc-decimals {
    font-size: 5vw;
  }

  #discs {
    font-size: 3vw;
  }
}

/*@media (min-width: 1200px) {
  #ff7r-title {
    font-size: 6rem;
  }

  #countdown-title {
    font-size: 5rem;
  }
  #release-date {}

  #disc-units {
    font-size: 21rem;
  }

  #disc-decimals {
    font-size: 7rem;
  }

  #discs {}

}

@media (min-width: 1400px) {
  #ff7r-title {
    font-size: 7rem;
  }

  #countdown-title {
    font-size: 6rem;
  }
  #release-date {}

  #disc-units {
    font-size: 23rem;
  }

  #disc-decimals {
    font-size: 8rem;
  }

  #discs {}

} */